.bg-image {
  background: url(../assets/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
}

.bg-overlay {
  background: rgba(33, 37, 41, 0.3);
  height: 100vh;
  width: 100%;
  position: absolute;
}

.ant-select-dropdown,
.ant-calendar-picker-container,
.ant-popover {
  z-index: 1302;
}

.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}

.p-10 {
  padding: 10px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-l-10 {
  padding-left: 10px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}

.p-15 {
  padding: 15px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}

.p-20 {
  padding: 20px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-l-20 {
  padding-left: 20px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}

.m-10 {
  margin: 10px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}

.m-15 {
  margin: 15px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}

.m-20 {
  margin: 20px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}

.app-main {
  .page-heading {
    margin-bottom: 20px;
  }
  .actions {
    width: 100%;
    text-align: right;
    .filterParams {
      display: inline-block;
      padding: 0 10px 0 25px;
      background: #eee;
      margin: 10px;
      border-radius: 4px;
      color: #333;
      .filterItem {
        display: inline-block;
        margin-right: 10px;
      }
    }
    h3 {
      float: left;
      color: #333;
      margin-bottom: 0;
      margin-top: 15px;
    }
  }
  .cus-multi-select {
    .Select-control {
      height: 36px;
    }
  }
  .title {
    p {
      font-size: 1rem;
      text-transform: capitalize;
    }
  }
}

div[role="dialog"] {
  h2 {
    text-transform: capitalize;
  }
}

ul[role="listbox"] {
  max-height: 20rem;
  overflow: auto;
}

.fLawAB {
  background: rgba(255, 255, 255, 0.8);
  z-index: 2000;
}

.query-builder {
  margin: 0 !important;
}

.rangeCalender {
  position: absolute;
  box-shadow: 0px 0px 5px 1px #d0d0d0;
  border-radius: 4px;
  overflow: hidden;
  left: 50%;
  -webkit-transform: translateX(-58%);
  transform: translateX(-58%);
  background: #fff;
  z-index: 1500;
  .is-selected {
    background: #3f51b5 !important;
  }
  .rangeHeader {
    padding: 0.5rem 1rem 0 1rem;
    h2 {
      margin: 0;
      display: inline-block;
    }
    button {
      width: 20px !important;
      height: 20px !important;
      margin-top: 3px;
      float: right;
    }
  }
  .rdr-DateRange {
    .rdr-Calendar {
      float: left;
    }
  }
}

.group {
  border-radius: 2px !important;
  box-shadow: 0px 0px 6px 1px #cacaca;
  margin: 5px;

  .rule--operator {
    .ant-select-arrow {
      display: none;
    }
  }
}

.query-builder-result {
  padding: 10px;
  background: #eee;
  margin-top: 10px;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 10px;
  border: 1px solid #e2e2e2;
  font-size: 12px;
  color: #333;
}

.ant-select-selection {
  border-radius: 2px;
  .ant-select-selection-selected-value {
    overflow: initial;
    padding-right: 0;
  }
}

.ant-input-number,
.ant-input {
  border-radius: 2px;
  width: 120px;
  .ant-input-number-handler-wrap {
    display: none;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.productProgress {
  width: 30%;
  float: right;
  position: relative;
  top: 5px;
  div:nth-child(1) {
    font-size: 12px;
    display: block;
    line-height: 0px;
    span {
      color: rgba(88, 88, 88, 0.8);
    }
  }
  div:nth-child(2) {
    width: 80%;
    display: inline-block;
  }
  .pro-state-00 {
    background-color: rgba(120, 144, 156, 0.4);
    * {
      background-color: rgba(120, 144, 156, 1);
    }
  }
  .pro-state-01 {
    background-color: rgba(239, 83, 80, 0.4);
    * {
      background-color: rgba(239, 83, 80, 1);
    }
  }
  .pro-state-02 {
    background-color: rgba(255, 167, 38, 0.4);
    * {
      background-color: rgba(255, 167, 38, 1);
    }
  }
  .pro-state-03 {
    background-color: rgba(255, 167, 38, 0.4);
    * {
      background-color: rgba(255, 167, 38, 1);
    }
  }
  .pro-state-04 {
    background-color: rgba(156, 204, 101, 0.4);
    * {
      background-color: rgba(156, 204, 101, 1);
    }
  }
  label {
    display: inline-block;
    font-size: 14px;
    padding-left: 12px;
  }
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  color: #212529;
}

.floatingActionsContainer {
  position: absolute;
  bottom: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  button {
    opacity: 0.8;
    margin-bottom: 15px;
  }
  button:hover {
    opacity: 1;
  }
}

.head-actions {
  display: inline-block;
}
.trail-container {
  cursor: pointer;
  .title {
    .badge {
      margin-bottom: 0;
      padding: 2px 8px;
    }
  }
  .card {
    width: 100%;
    .card-body {
      padding: 0;
    }
  }
  .trail-box {
    width: 25rem;
    display: inline-block;
    position: relative;
    float: left;
    .jr-card {
      width: 90%;
      display: inline-block;
      margin-top: 2px;
    }
    .badge {
      float: right;
      margin: 0;
    }
    .comments-box {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #d0d0d0;
      h4 {
        font-size: 14px;
        margin: 0;
      }
      p {
        font-size: 12px;
        margin: 0;
      }
    }
    .arrow-box {
      position: absolute;
      right: 10px;
      top: 50%;
      bottom: 50%;
      transform: translateY(-1.5rem);
      svg {
        opacity: 0.6;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #3f51b5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #3f51b5;
}

.comparison-container {
  label,
  strong {
    text-transform: capitalize;
  }
  table {
    td,
    th {
      text-indent: 12px;
    }
  }
}

.inner-nav-container {
  .inner-nav {
    width: 18%;
    display: inline-block;
    .scrollbar {
      div {
        position: relative !important;
        ul.nav-menu {
          background-color: #eee !important;
          li.menu.collapse-box {
            background-color: #eee !important;
            a {
              background-color: #a9a9a9 !important;
              * {
                color: #fff !important;
              }
            }
            a::before {
              color: #fff;
            }
            ul.sub-menu {
              background-color: #eee !important;
              li {
                margin-bottom: 0;
                a {
                  background-color: #eee !important;
                  * {
                    color: #3d3d3d !important;
                  }
                }
              }
            }
          }
          li.menu.collapse-box.open {
            background-color: #eee !important;
            a {
              background-color: #3f51b5 !important;
              * {
                color: #fff;
              }
            }
            ul.sub-menu {
              background-color: #eee !important;
              // padding-bottom: 6px;
              li {
                background-color: #eee !important;
                a {
                  * {
                    color: #3d3d3d !important;
                  }
                }
                a.active {
                  background-color: #6574c4 !important;
                  * {
                    color: #fff !important;
                  }
                }
                ::before {
                  color: #a1a1a1;
                  background-color: transparent;
                }
              }
              li:first-child {
                margin-top: 3px;
              }
              li:last-child {
                margin-bottom: 3px;
              }
              li:hover {
                a:not(.active) {
                  background: #e0e0e0 !important;
                }
                li {
                  a:not(.active) {
                    background: initial !important;
                  }
                }
                li:hover {
                  a:not(.active) {
                    background: #e0e0e0 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .inner-content {
    width: 80%;
    float: right;
  }
}

// ul.nav-menu li {
//   margin-bottom: 0px !important;
// }

.reset-password {
  .iconBox {
    display: inline-block;
    padding: 12px 16px 8px 16px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 12px 2px #d0d0d0;
    + h3 {
      display: inline-block;
      margin-left: 12px;
      font-size: 22px;
      position: relative;
      top: -6px;
    }
  }
  .passCon{
    margin-bottom: 15px;
  }
}

.notification-success:before {
  content: "✓";
}

.notification-error:before {
  content: "✕";
}

//Hackhaton code
.hexagon {
  position: relative;
  width: 110px; 
  height: 63.51px;
  background-color: #c0cada;
  margin: 31.75px 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.75);
  border-left: solid 5px #ffffff;
  border-right: solid 5px #ffffff;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 77.78px;
  height: 77.78px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 11.1091px;
  box-shadow: 0 0 40px rgba(0,0,0,0.75);
}

.hexagon:before {
  top: -38.8909px;
  border-top: solid 7.0711px #ffffff;
  border-right: solid 7.0711px #ffffff;
}

.hexagon:after {
  bottom: -38.8909px;
  border-bottom: solid 7.0711px #ffffff;
  border-left: solid 7.0711px #ffffff;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:2.8867513459481287px;
  left: 0;
  width:100px;
  height:57.7350px;
  z-index: 2;
  background: inherit;
}